* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.container {

}

.header {
    height: 3em;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    line-height: 3em;
    color: #fff;
    font-size: 1em;
    padding-left: 2rem;
    font-weight: 800;
}

.header__navi{
    /* display: block; */
    padding-right: 2em;
    
}

.header__navi li {
    /* display: block; */
    display: inline-block;
    line-height: 3em;


}

.header__navi li a {
    text-decoration: none;
    color: #fff;
    padding: 18px;

}

.icon__bars{
    width: 2em;
    height: 2em;
    display: none;
    line-height: 4em;
    padding-right: 0.5em;  
}


.sub__nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 23em;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    text-align: center;
    list-style: none;
    background-color: red;
    /* transform:translateX(-100%); */
}

.sub__nav li {
    padding: 1.25em 0;
}

.sub__nav li a {
    text-decoration: none;
    color: #fff;
    /* margin: 2em; */
}

.icon__close {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 1em;
    right: 1em;
}

/* dsadsa */

.nav__input {
    /* font-size: 2em; */
    margin: 1em;
    width: 2em;
    height: 2em;
    /* top: 0; */
    right: 1em;
    /* position: absolute; */
}

.icon__suv-nav {
    width: 2em;
    height: 2em;
    color: #fff;
}

/* SLIDER */


.slider {
    background: url(https://react-tailwindcss-foods.netlify.app/static/media/hero.38e67610.jpg) top center / cover no-repeat;
    padding-top: 47%;
    top: 0;
    position: relative;
}

.slider__header {
    font-size: 6em;
    position: absolute;
    bottom: 50%;
    color: red;
    text-align: center;
    width: 100%;
}


/* content */


.content {
    padding-bottom: 36px;

}

.content__despression {

}

.content__most-popular {

}

.content__header {
    font-size: 46px;
    padding: 0.5em;
    background-color: #ccc;
}

.icon__fire {
    width: 24px;
    height: 24px;
    color: red;
}   

.content__product {
    padding: 24px;
}

.product {
}

.product__img {
    width: 100%;
    border-radius: 5%;
}

.product__name {
    font-size: 2em;
    text-align: center ;
    padding: 1em 0;
    margin-top: -0.25em;
    /* background-color: #ccc; */
}


/* footer */

.footer {
    background-color: red;
    color: #fff;
    text-align: center;
}

.footer .footer__name {
    padding: 0.5em 0;
}

/* mobile */
@media (max-width: 740px) {
    .slider__header {
        font-size: 1.875em;
    }

    .content__header {
        font-size: 1.875em;
    }

    .product__name {
        font-size: 2em;
    }

    .header .header__navi {
        display: none;
    }    

    .icon__bars {
        display: block;
    }

    .header {
        background-color: #fff;
    }
    
    .header__logo {
        color: #000;
        font-size: 1.5em;
        line-height: 2em;
    }

    .nav__input:checked ~ .sub__nav {
        display: block;
    
    }
}

/* >= Tablet */
@media (min-width: 740px) {
    .slider__header {
        font-size: 3em;
    }

    .content__header {
        font-size: 3em;
    }

    .product__name {
        font-size: 3em;
    }
}
/* PC medium resolution > */
@media (min-width: 1113px) {
    .slider__header {
        font-size: 6em;        
    }
}
@media (min-width: 740px) and (max-width: 1023px) {
    .slider__header {
        font-size: 4.5em;        
    }
}
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .slider__header {
        font-size: 6em;        
    }
}




